body, main{
    background-color: #FCECDD; padding-top: 150px; font-family: "Gowun Dodum", sans-serif;
}
header nav{
    position: fixed; top: 0; left: 0; padding:40px 0; text-align: center; width: 100%; background-color: white; border-bottom: 5px solid #F3A26D;
} 
header nav ul{
    display: flex; justify-content: center; gap: 40px;
}
header nav ul li a{
    text-decoration: none; color: #254D70; font-weight: 900; font-size: 22px;
}
header nav ul li a:hover{
    border-bottom: 2px solid #254D70;
}
.hero{
    margin: 250px 0 350px 0; text-align: center;
}
.hero h1{
    font-size: 40px; font-weight: 900; line-height: 1.5; color: #254D70; margin-bottom: 100px;
}
.hero a{
    text-decoration: none; background-color: #F3A26D; color: #254D70; padding: 15px 20px; border-radius: 25px;
    font-weight: 700;transition: color 0.3s ease-in-out;
}
.hero a:hover{
    background-color: #FF7601; color: white; 
 }
#about{
    background-color: white; text-align: center;

}
#about h2{
    padding:40px 0; color: #F3A26D; font-size: 40px; margin-bottom: 100px;
}
.about-container {
  display: flex; justify-content: center; align-items: flex-start; gap: 50px; padding: 50px; 
  max-width: 1000px; margin: 0 auto;
}

.profile-img img {
  width: 250px; height: auto; border-radius: 20px;
}

.profile-text ul {
    margin-bottom: 300px;
}

.profile-text li {
  display: flex; gap: 10px; margin-bottom: 15px; list-style: none; flex-wrap: wrap;
}

.profile-text strong {
  width: 120px; font-size: 24px; color: #254D70;
}

.profile-text p {
  margin: 0; text-align: left; line-height: 1.5;
  max-width: 500px; font-size: 22px;
}
#qna{
    text-align: center; margin-bottom: 150px;
}
#qna h2{
    padding:40px 0; color: #FF7601; font-size: 40px; 
}
#qna div{
    background-color: white; width: 80%; margin: 0 auto; border-radius: 50px;
    padding: 20px 30px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

#qna div ul li:first-child h3{
    margin-top: 50px;
}
#qna div ul li h3{
    color: #254D70; font-size: 26px; margin-bottom:30px;
}
#qna div ul li p{
    margin-bottom: 50px; font-size: 22px;
}
#qna div ul{
    list-style: none;
}
#qna div ul li{
    display: inline-block; 
}
#contact{
    background-color: white; text-align: center;
}
#contact h2{
    padding:40px 0; color: #F3A26D; font-size: 40px; margin-bottom: 50px;
}
#contact div ul li a{
    text-decoration: none; 
}
#contact div ul li a img{
    width: 60px;
}
#contact div ul{
    display: flex; justify-content: center; gap: 60px; list-style: none;
    margin-bottom: 50px;
} 
#contact p{
    color: #254D70; padding: 20px 0;
}