body {
  padding: 20px;
}

input {
  padding: 5px;
  margin: 5px 0;
}

button {
  margin-left: 5px;
}

#todo-list {
  list-style: none; /* 리스트 스타일 없앰 */
  padding: 0; /* 기본 패딩 제거 */
}

#todo-list li {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

#todo-list li span {
  margin: 0 10px;
}
